:root {
    --amarelo-claro: #FFF9C4;
    --verde-claro: #C8E6C9;
    --verde-vivo: #00c853; /* verde mais vivo */
    --verde-hover: #009624; /* hover mais forte */
    --preto-escuro: #000000;
    --preto-hover: #282525;
  }
  body {
    background-color: var(--amarelo-claro);
    color: #333;
    font-family: sans-serif;
  }
  .btn-viva {
    background-color: var(--verde-vivo);
    color: white;
    transition: background-color 0.3s;
  }
  .btn-viva:hover {
    background-color: var(--verde-hover);
    color: white;
  }
  .hero-section {
    min-height: 400px;
    background: url(../img/pexels-markusspiske-104675.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  nav a {
    color: var(--preto-escuro);
    transition: color 0.3s;
  }
  nav a:hover {
    color: var(--preto-hover);
    text-decoration: underline;
  }
  .hero-section{
    height: 85dvh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

      & h2, p, a{
        margin-bottom: 55px;
      }
  }
  .hover-card:hover{
    scale: .95;
    transition: 0.5s;
  }

  .clube-destaque{
    height: 75dvh;
  }